.welcome {
    background-image: url(../assets/backgrounds/h_img.jpg);
}

.services {
    background-image: url(../assets/backgrounds/s_image.jpg);
}

.contact {
    background-image: url(../assets/backgrounds/c_image.jpg);
}

input.transparent-input{
    background-color:rgba(0,0,0,0);
 }

 .form-control::placeholder {
    color: white;
    opacity: 0.5
}