body{
    align-items: center;
    text-align: center;
}

.welcome {
    background-image: url(../assets/backgrounds/h_img.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    align-items: center;
}

.about{
    padding-top: 100px;
    padding-bottom: 100px;
}

.services {
    background-image: url(../assets/backgrounds/s_image.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact {
    background-image: url(../assets/backgrounds/c_image.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
}

input.transparent-input{
    background-color:rgba(0,0,0,0);
 }

 .form-control::placeholder {
    color: white; 
    opacity: 0.5;
}


.portfolio{
    padding-top: 100px;
    padding-bottom: 100px;
}

.portfolio img{
    max-width: 80%;
    max-height: 80%;
}

.social{
    display: flex;
    align-items: center;
}

.portfoliotext{
    display: none;
}

#porfoliopic{
    padding-top: 10px;
    padding-bottom: 10px;
}

#design-info-showing{
    display: none;
}

#prod-info-showing{
    display: none;
}

#dev-info-showing{
    display: none;
}

.clickable:hover{
    text-decoration: underline;
}

#message{
    height: 250px;
}

    